* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;
}
body {
  background-color: hsl(0, 0%, 8%);
}
.attribution {
  font-size: 0.688rem;
  text-align: center;
  color: hsl(228, 45%, 44%);
}
.attribution a {
  color: white;
  text-decoration: none;
}
.container {
  display: flex;
  width: 100vw;
  height: 97vh;
  justify-content: center;
  align-items: center;
}
img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.social-link {
  width: 90%;
  height: 45px;
  text-align: center;
  color: white;
  text-decoration: none;
  background-color: hsl(0, 0%, 20%);
  padding: 12px;
  border-radius: 8px;
}
h1 {
  font-weight: 700;
  color: white;
}
h2 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 10px;
  color: hsl(75, 94%, 57%);
}
h3 {
  font-weight: 400;
  font-size: 14px;
  color: white;
}

@media (width <= 479px) {
  .social-card {
    height: 60vh;
    width: 80vw;
    min-height: 500px;
    max-height: 600px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: hsl(0, 0%, 12%);
    border-radius: 25px;
  }
  h3 {
    font-size: 0.9rem;
  }
}
@media (width < 900px) and (width >= 480px) {
  .social-card {
    height: 60vh;
    width: 50vw;
    min-height: 500px;
    max-height: 600px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: hsl(0, 0%, 12%);
    border-radius: 25px;
  }
  h3 {
    font-size: 0.75rem;
  }
}
@media (width <= 1200px) and (width >= 900px) {
  .social-card {
    height: 60vh;
    width: 30vw;
    min-height: 500px;
    max-height: 600px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: hsl(0, 0%, 12%);
    border-radius: 25px;
  }
  body {
    font-size: 1rem;
  }
}
@media (width > 1201px) {
  .social-card {
    height: 60vh;
    width: 30vw;
    max-width: 400px;
    min-height: 500px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: hsl(0, 0%, 12%);
    border-radius: 25px;
  }
}
